# Dependencias de Node.js
node_modules/


# Archivos de log
*.log

# Archivos de sistema
.DS_Store
Thumbs.db

# Directorios de caché de dependencias de npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Carpetas de producción o compilación
/dist
/build
/public

# Archivos de editores (si usas VSCode o Sublime Text, por ejemplo)
.vscode/
.idea/

# Archivos de pruebas y reportes
coverage/

# Archivos específicos de la base de datos (si estás usando alguna base de datos local)
*.sqlite
*.db

# Archivos generados por herramientas de test
/test-results/

# Otras posibles carpetas y archivos generados que no deben ser versionados
*.tgz
